
.example-spacer {
    flex: 1 1 auto;
}

.toolbar{ 
  border-bottom: rgba(159, 159, 159, 0.445) !important;
}
example-icon{
    border:10px;
    margin-bottom: 20px ;
}
.example-container {
  border: 1px solid rgba(0, 0, 0, 0.5);
  
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

mat-sidenav {
  padding: 20px;
}
.example-spacer {
    flex: 1 1 auto;
  }