<!DOCTYPE html>
<body>
    <mat-sidenav-container >
      <mat-sidenav #sidebar mode="side" opened>
        <ul class="nav flex-column">
              
          <li class="nav-item">
           <a class="nav-link" routerLink="clients" > about you</a>
          </li>
          <li class="nav-item">
            <button mat-button routerLink="clients"><mat-icon>account_box</mat-icon> Clients</button>
          </li>
          <li class="nav-item">
            <button mat-button routerLink="com"><mat-icon>add_shopping_cart</mat-icon> commands</button>
          </li>
          <li class="nav-item">
            <button mat-button routerLink="dist"><mat-icon>perm_identity</mat-icon> distrubuters</button>
          </li>
        </ul> 
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="content">
          <div class="toolbar">
            <mat-toolbar>
              <button type="button" mat-button (click)="sidebar.toggle()">
                <mat-icon>menu</mat-icon>
              </button>
              <span>My App</span>
              <span class="example-spacer"></span>
              <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>perm_identity</mat-icon>
              </button>
              <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>more_vert</mat-icon>
              </button>
            </mat-toolbar>  
          </div>
          <div class="main">
            <router-outlet></router-outlet>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
</body>