<body>
    <header>
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
              <a class="navbar-brand">E7tikarless</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
    </header>
    <div class="sidebar">
        <ul class="nav flex-column">
            
            <li class="nav-item">
             <a class="nav-link" routerLink="clients"> about you</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="clients">Clients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="com">Commands</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="dist">distrubuter</a>
            </li>
        </ul>
        
    </div>
    <div class="content">
        <p>Hi I'm oussama,I'm here to trying adding an icon so let's hope that i will solve the problem </p>
        <i class="fa fa-heart"></i>
        <!-- <router-outlet></router-outlet> -->
    </div>
</body>