<h1>Clients</h1>
<table>
    <caption>Modern Responsive Table</caption>
    <thead>
        <tr>
            <th>Header 1</th>
            <th>Header 2</th>
            <th>Header 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="Header 1">Data 1</td>
            <td data-label="Header 2">Data 2</td>
            <td data-label="Header 3">Data 3</td>
        </tr>
        <tr>
            <td data-label="Header 1">Data 4</td>
            <td data-label="Header 2">Data 5</td>
            <td data-label="Header 3">Data 6</td>
        </tr>
        <!-- Add more rows as needed -->
    </tbody>
</table>
