mat-toolbar{
  border-bottom: var(--bordercolor) 1px solid ;
}
.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .navbar {
    background-color: #1976D2;
    color: white;
  }
  
  .spacer {
    flex: 1;
  }  
  
  
  .search-field {
    font-size: 1rem;
  }

  
  .example-spacer {
    flex: 1 1 auto;
  }
  .image {
    padding-left: 30px;
    height: 71px;
    max-width: 150px;
  }